:root {
  /* Primary */
  --Blue: hsl(246, 80%, 60%);
  --Light-orange: hsl(15, 100%, 70%);
  --Soft-blue: hsl(195, 74%, 62%);
  --Light-red: hsl(348, 100%, 68%);
  --Lime-green: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Soft-orange: hsl(43, 84%, 65%);
  /* Neutral */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-blue: hsl(236, 100%, 87%);
  --white: hsl(0, 0%, 100%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Smooth scroll */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Rubik", sans-serif;
  background: var(--Very-dark-blue);
  display: grid;
  align-content: center;
  padding-inline: 1.5rem;
}

.dashboard {
  display: grid;
  margin-block: 5rem;
  gap: 1.5rem;
  max-width: 69.375rem;
  margin-inline: auto;
}

.profile-card {
  background-color: var(--Dark-blue);
  border-radius: 0.9375rem;
}

.profile-card__info {
  background-color: var(--Blue);
  border-radius: 0.9375rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 2.125rem 2rem;
}

.profile-card__details {
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
}

.profile-card__report {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.125;
  color: var(--Pale-blue);
}

.profile-card__name {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 100%;
  color: var(--white);
}

.profile-card__avatar {
  width: 4rem;
  border: 0.1875rem solid var(--white);
  border-radius: 100%;
  background: #d8d8d8;
}

.profile-card__durations {
  background-color: var(--Dark-blue);
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 0.9375rem 0.9375rem;
  padding: 1.5rem 2rem;
}

.profile-card__duration-option {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125;
  color: var(--Desaturated-blue);
  cursor: pointer;
  transition: all 0.3s;
  width: fit-content;
}

.profile-card__duration-option:is(:hover) {
  color: var(--white);
}

.activity__title {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125;
  color: var(--white);
}

.activity__current-time {
  font-weight: 400;
  font-size: clamp(2rem, 3.5vw + 1rem, 3.5rem);
  line-height: 2.375rem;
  color: var(--white);
}

.activity__time-stamp {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.125;
  text-align: right;
  color: var(--Pale-blue);
}

.activity {
  border-radius: 0.9375rem;
  height: fit-content;
}

.activity__icon-wrapper {
  height: 2.375rem;
  border-radius: 0.9375rem 0.9375rem 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  padding-inline-end: 0.875rem;
}

.activity__details {
  background-color: var(--Dark-blue);
  border-radius: 0.9375rem;
  padding: 1.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  transform: translateY(1px);
  cursor: pointer;
  transition: all 0.3s;
}

.activity__details:hover {
  background-color: #33397a;
}

.activity__title-wrap,
.activity__timeframe-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity__timeframe-wrap {
  gap: 0.5rem;
}

.activity__icon {
  height: 4.875rem;
  width: 4.875rem;
}

.light-orange,
.activity--work {
  background-color: var(--Light-orange);
}

.soft-blue,
.activity--play {
  background-color: var(--Soft-blue);
}

.light-red,
.activity--study {
  background-color: var(--Light-red);
}

.lime-green,
.activity--exercise {
  background-color: var(--Lime-green);
}

.violet,
.activity--social {
  background-color: var(--Violet);
}

.soft-orange,
.activity--self-care {
  background-color: var(--Soft-orange);
}

@media screen and (min-width: 37.5rem) {
  .dashboard {
    gap: 1.875rem;
    grid-template-areas:
      "profile profile"
      "work play"
      "study exercise"
      "social self-care";
  }

  .profile-card {
    grid-area: profile;
  }

  .activity--work {
    grid-area: work;
  }

  .activity--play {
    grid-area: play;
  }

  .activity--study {
    grid-area: study;
  }

  .activity--exercise {
    grid-area: exercise;
  }

  .activity--social {
    grid-area: social;
  }

  .activity--self-care {
    grid-area: self-care;
  }

  .profile-card__avatar {
    width: 4.875rem;
  }

  .profile-card__name {
    font-size: 2.5rem;
    line-height: 2.9375rem;
  }

  .activity__current-time {
    line-height: 4.125rem;
  }
}

@media screen and (min-width: 61.5625rem) {
  .dashboard {
    grid-template-areas:
      "profile work play study"
      "profile exercise social self-care";
    grid-template-columns: repeat(4, 1fr);
  }

  .profile-card__details {
    max-width: 8.75rem;
  }

  .activity {
    min-height: 15.25rem;
    display: grid;
  }

  .activity__icon-wrapper {
    height: 2.8125rem;
  }

  .profile-card__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.6875rem;
    padding: 2.375rem 3.125rem 5rem 2rem;
  }

  .activity__timeframe-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-card__durations {
    flex-direction: column;
    padding: 1.625rem 2rem 2rem;
    gap: 1.3125rem;
  }

  .profile-card {
    max-width: 15.9375rem;
  }

  .activity__details {
    padding: 1.8125rem 352.1875rempx 2rem 1.875rem;
    gap: 1.5rem;
  }
}
